
<ion-header class="ion-no-border" >
  <ion-toolbar >
    <ion-title>
      Nuevo Evento
    </ion-title>
    <ion-buttons (click)="closeModal()" class="close-button"  slot="start">
      <ion-button >
        <ion-icon  class="close-icon"  name="close-outline" ></ion-icon>
      </ion-button>
    
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form id="form" [formGroup]="form">
  <!-- SUBIR FOTOS -->

  <div class="img-container" *ngIf="imagePreview">
    <img [src]="imagePreview" alt="Preview de la imagen">
  </div>
 <input id="fileInput" type="file" style="display: none" (change)="onImageChange($event)" accept="image/*">

<ion-item class="picture">
  <ion-label fixed>Subir foto</ion-label>
  <input type="file" (change)="onImageChange($event)" accept="image/*" style="display: none">
  <ion-button slot="end" color="tertiary" (click)="openFileInput()">
    <ion-icon name="cloud-upload-outline"></ion-icon>
  </ion-button>
</ion-item>


  <!-- NOMBRE DEL EVENTO -->
  <ion-item>
    <ion-label position="floating">Nombre del evento</ion-label>
    <ion-input formControlName="eventname" maxLength="40" type="text"></ion-input>
  </ion-item>

  <!-- CONTROL DE ERRORES -->
  <app-error-message class="validator" [field]="form.controls.eventname" [empty]="true"
            message="Campo Obligatorio"></app-error-message>
        <app-error-message class="validator" [field]="form.controls.eventname" [valid]="true" message="Debe ser más largo"></app-error-message>
       

   <!-- DESCRIPCIÓN DEL EVENTO -->
   <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea maxLength="300" formControlName="description"></ion-textarea>
  </ion-item>

  <!-- CONTROL DE ERRORES -->
  <app-error-message class="validator" [field]="form.controls.description" [empty]="true"
            message="Campo Obligatorio"></app-error-message>
        <app-error-message class="validator" [field]="form.controls.description" [valid]="true" message="Formato errorneo"></app-error-message>
       

    <!-- NÚMERO DE PLAZAS -->
    <ion-item>
      <ion-label position="floating">Número de plazas</ion-label>
      <ion-input formControlName="plazas" value="0" type="number" maxLength="3"></ion-input>
    </ion-item>

<!-- CONTROL DE ERRORES -->
<app-error-message class="validator" [field]="form.controls.plazas" [empty]="true"
message="Campo Obligatorio"></app-error-message>
<app-error-message class="validator" [field]="form.controls.plazas" [valid]="true"
message="Escriba un número correcto"></app-error-message>



    <!-- PRECIO DEL EVENTO -->
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="price" type="number" maxLength="3"></ion-input>
    </ion-item>

    <!-- CONTROL DE ERRORES -->
    <div class="price-error"*ngIf="f.price.touched && f.price.errors">
      <div class="validator"*ngIf="f.price.errors.required">Campo Obligatorio</div>
      <div class="validator"*ngIf="f.price.errors.pattern">Escriba un número válido (máximo 3 dígitos y 2 decimales).</div>
      <div class="validator"*ngIf="f.price.errors.min">Escriba un número válido</div>
    </div>



  <!-- FECHA DEL EVENTO  -->
  <ion-item class="date-item">
    <ion-label>Fecha</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
  
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime locale="es-ES" formControlName="date" [(ngModel)]="date" id="datetime" ></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

    <!-- CONTROL DE ERRORES -->
    <app-error-message class="validator" [field]="form.controls.date" [empty]="true"
message="Campo Obligatorio"></app-error-message>
<!-- CATEGORIA DE EVENTO -->

<ion-item>
  <ion-select placeholder="Elige una Categoría" formControlName="category">
    <ion-select-option *ngFor="let category of categories" value={{category.value}}>{{category.label}}</ion-select-option>
  </ion-select>
</ion-item>

  </form> 

  


      <!-- LUGAR DEL EVENTO -->
      <ion-item>
        <ion-label position="floating">Ubicación</ion-label>
        <ion-input [clearInput]="true" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" (ionClear)="ClearAutocomplete()"></ion-input>
    </ion-item>



    <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
            {{ item.description }}
        </ion-item>
    </ion-list>
 
    <ion-button class="confirm-button" color="tertiary" expand="block" (click)="createEvent()" class="ion-padding"> Confirmar </ion-button> 
  
</ion-content>
