

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ item.label }}</ion-title>
  
    <ion-buttons class="close-button" (click)="closeModal()" slot="start">
      <ion-icon  class="close-icon" name="close-outline" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="ion-margin-top"  button="true" *ngFor="let item of options" (click)="chooseOptions(item)">
      <ion-icon color="dark" slot="start" [name]="item?.icon"></ion-icon>
      <ion-label>{{ item?.label }}</ion-label>
    </ion-item>
  <ion-button class="delete ion-padding" *ngIf="!isAdmin" (click)="delete()" expand="block">Eliminar Usuario</ion-button>
  </ion-list>
</ion-content>