<!-- https://www.behance.net/gallery/93884721/Event-App 
https://www.behance.net/search/projects/?search=event+app-->


<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title *ngIf="currentUser">
      {{currentUser.user}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon class="config-icon" name="cog-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <div class="profile-pic">
    <img src="../../../../assets/persons/person4.svg" alt="">

  </div>
  <div class="profile-stars">
      <ul>
        <li><span>0/5</span> Calificación</li>
        <li><span>0</span> Eventos</li>
      </ul>
    </div>
  


    <!-- *ngIf="currentUser"  -->
  <div class="profile-bio">
    <h1>{{currentUser.name}}</h1>
    <p>{{currentUser.bio}}</p>
    </div>

    <div class="event-section">

    <ion-segment value="events" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="my-favs">
        
          
          <ion-icon name="heart"></ion-icon>
        
      </ion-segment-button>
      <ion-segment-button value="my-events">
        <ion-label>Mis Eventos
          
        </ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-row class="ion-text-left" *ngIf="event">
      <ion-card>
        <ion-card-header class="ion-no-padding">
          <img src="../../../../assets/events/event1.svg" />
        </ion-card-header>

        <ion-card-content>
          <p class="date">17th July, 2021</p>
          <h2 class="eventname">International Jazz Festival</h2>
          <p class="location"><ion-icon name="location"></ion-icon>Caracas, Venezuela</p>

          <div class="additional-info">
            <div class="attendees">
              <img src="../../../../assets/persons/person1.svg" />
              <img src="../../../..//assets/persons/person2.svg" />
              <img src="../../../../assets/persons/person3.svg" />
              <img src="../../../../assets/persons/person4.svg" />
              <div class="count">
                <img src="../../../../assets/persons/person-placeholder.svg" />

                <p>+7</p>
              </div>
            </div>

            <p class="time">10:00pm</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </div>
</ion-content>


