<!-- https://www.behance.net/gallery/93884721/Event-App 
https://www.behance.net/search/projects/?search=event+app-->


<ion-header no-border>
  <ion-toolbar>
    <ion-title *ngIf="currentUser">
      {{currentUser.user}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon class="config-icon" name="cog-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="currentUser">

  <!-- USER PROFILE -->
  <div class="profile">
  <div class="profile-pic">
    <ion-avatar class="avatar">     
    <img src={{currentUser.picture}} alt="user_avatar">
    </ion-avatar>
  </div>
  
    <div class="profile-stars" >
      
      <p class="stars"><strong><span>0/5</span> </strong>Calificación</p> 
    <p class="event-count"><strong><span>{{eventCount}}</span></strong> Eventos</p> 
      
    </div>

    <div class="profile-bio">
      <h1>{{currentUser.name}}</h1>
      <p>{{currentUser.bio}}</p>
    </div>
  </div>

  <!-- SEGMENTO DE MEGUSTA Y MIS EVENTOS -->
  <div class="event-section">

    <ion-segment value="my-favs" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="my-favs">

        <ion-icon name="heart"></ion-icon>

      </ion-segment-button>

      <ion-segment-button value="my-events">
        <ion-icon name="albums-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="my-joined">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  

    <!--EVENTOS -->
    <div class="event-cards ion-margin" *ngIf="selectedSegment === 'my-events'">

      <ion-card *ngFor="let event of myEvents" >
  
        <ion-card-header class="ion-no-padding" (click)="selectEvent(event._id)">
          <img src="{{event.picture}}" />
        </ion-card-header>
  
        <ion-card-content>
          <div class="date">
  
  
            <ion-card-subtitle><strong>{{ event.date | date:'dd MMM, yyyy HH:mm'
                }}</strong></ion-card-subtitle>
          </div>
  
          <div class="name">
            <ion-card-title class="eventname" (click)="selectEvent(event._id)"><strong>{{ event.name }}</strong></ion-card-title>
  
          </div>
  
          <div class="buttons" >
              <div class="members">
                <ion-icon name="person"></ion-icon>
                <p class="plazas"> <strong>{{event.plazas.length}}</strong>/{{event.numPlazas}}</p>
            </div>
  
            <div class="event-buttons">
              <ion-button class="delete-button" slot="end" (click)="deleteEvent(event.name,userId)">
                <ion-icon name="trash-outline" slot="icon-only" /></ion-button>
                <ion-button class="edit-button" slot="end" (click)="editEvent(event._id)" *ngIf="isEventDateValid(event.date)">
                <ion-icon  name="pencil-outline" slot="icon-only" />
              </ion-button>

            </div>
  </div>
  
  
        </ion-card-content>
  
      </ion-card>
  

      </div>


    <!--  MIS FAVS  -->

    <div class="event-cards ion-margin" *ngIf="selectedSegment === 'my-favs'">

      <ion-card *ngFor="let fav of myFavs" >
  
        <ion-card-header class="ion-no-padding" (click)="selectEvent(fav._id)">
          <img src="{{fav.picture}}" />
        </ion-card-header>
  
        <ion-card-content>
          <div class="date">
  
  
            <ion-card-subtitle><strong>{{ fav.date | date:'dd MMM, yyyy HH:mm'
                }}</strong></ion-card-subtitle>
          </div>
  
          <div class="name">
            <ion-card-title class="eventname" (click)="selectEvent(fav._id)"><strong>{{ fav.name }}</strong></ion-card-title>
  
          </div>
    <div class="buttons" >
              <div class="members">
                <ion-icon name="person"></ion-icon>
                <p class="plazas"> <strong>{{fav.plazas.length}}</strong>/{{fav.numPlazas}}</p>
            </div>
            <div class="fav-buttons">
              <ion-buttons>
                <ion-button (click)="deleteFavorite(fav._id)">
                  <ion-icon color="primary" slot="icon-only" name="heart"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </div>
  
  
  
        </ion-card-content>
  
      </ion-card>
  </div>
  <!-- ASISTIDOS -->
    <div class="event-cards ion-margin" *ngIf="selectedSegment === 'my-joined'">

      <ion-card  *ngFor="let join of joinedEvents" >
  
        <ion-card-header class="ion-no-padding" (click)="selectEvent(join._id)">
          <img src="{{join.picture}}" />
        </ion-card-header>
  
        <ion-card-content>
          <div class="date">
  
  
            <ion-card-subtitle><strong>{{ join.date | date:'dd MMM, yyyy HH:mm'
                }}</strong></ion-card-subtitle>
          </div>
  
          <div class="name">
            <ion-card-title class="eventname" (click)="selectEvent(join._id)"><strong>{{ join.name }}</strong></ion-card-title>
  
          </div>
            
              <div class="participants">
                <ion-icon name="person"></ion-icon>
                <p class="plazas"> <strong>{{join.plazas.length}}</strong>/{{join.numPlazas}}</p>
            </div>
         
  
  
  
        </ion-card-content>
  
      </ion-card>
  
  </div>
</div>
</ion-content>