ion-header {
  --background: #fef1ee;
}
  ion-toolbar {
    --background: #fef1ee;
  }

.config-icon {
  font-size: 30px;
  font-weight: bold;
  color: var(--ion-color-tertiary)
}

ion-content {

  .profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  
  .avatar {
    width: 200px; /* Ajusta el tamaño según tus preferencias */
    height: 200px; /* Ajusta el tamaño según tus preferencias */
    border-radius: 50%; /* Hace que el avatar tenga forma de círculo */
    overflow: hidden; /* Recorta cualquier parte de la imagen que se salga del círculo */
    position: relative;
  }
  
  .avatar::before {
  
   
    padding-bottom: 100%; /* Crea un espacio cuadrado proporcional al tamaño del avatar */
  }
  
  .avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen dentro del círculo sin deformarla */
  }

  .profile {
    background: #fef1ee;
    height:55%;
    .profile-stars {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .event-count{
        margin-left: 20px;
      }
    }
    
    .profile-stars p {
      margin: 10px 0;
     
    }
    
    .profile-stars span {
      margin-right: 5px; /* Espacio entre el texto y el número */
    }
   
    .profile-bio {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top:20px;
    }
    
    .profile-bio h1,
    .profile-bio p {
      
      margin: 0;
    }
    .profile-bio h1{
      font-size:25px;
      font-family: bold;
    }
    .profile-bio p{
      font-size:20px;
    }
  }
}

.event-section {

  height: 90vh;
  width: 100%;
  max-width: 500px;
  --background: #fefefe !important;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-top-right-radius: 46px;
  border-top-left-radius: 46px;
}

ion-segment {
  height: 40px;
  --background: linear-gradient(90deg,
      rgba(254, 232, 230, 1) 0%,
      rgba(246, 230, 254, 1) 100%);

  ion-segment-button {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  //Cambiar cuando esté seleccionado
  ion-segment-button::part(indicator-background) {
    border-radius: 20px;
    background: #3d2073;

  }

  ion-segment-button::part(native) {
    color: #3d2073;
  }

  //cambiar el color de la letra cuando esté seleccionado
  .segment-button-checked::part(native) {
    color: var(--ion-color-secondary);
  }



}

.event-cards {

  ion-card {
    width: 100%;
    height: auto;
    background: #fefefe;
    border-radius: 12px;
    box-shadow: 0px 4px 12px 2px rgba(28, 12, 61, 0.674);
    margin-left: 0;
    margin-top: 0;

    ion-card-header {
      img {
        width: 100%;
      }
    }

    ion-card-content {
      padding: 20px;


      .date {
        ion-card-subtitle {
          color: var(--ion-color-lettering);
          font-size: 15px;
        }

      }



      .name {

        padding-left: 10px;

        .eventname {

          color: rgb(30, 13, 61);
          margin-bottom: 5px;
        }
      }


     







    }

  }

}

.participants{

  position: absolute;
    bottom: 10px;
    right: 0;

    display: flex;
    // justify-content: flex-end;

    p {
      padding-top: 5px;
      padding-left: 5px;
      color: var(--ion-color-lettering);
      font-size: 15px;
    }

    ion-icon {
      font-size: 20px;
      color: var(--ion-color-tertiary);
    }

}

.buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  

  .members {
    position: absolute;
    bottom: 10px;
    right: 0;

    display: flex;
    // justify-content: flex-end;

    p {
      padding-top: 5px;
      padding-left: 5px;
      color: var(--ion-color-lettering);
      font-size: 15px;
    }

    ion-icon {
      font-size: 20px;
      color: var(--ion-color-tertiary);
    }
  }


  .fav-buttons {

    bottom: 10px;
    left: 0;
    display: flex;
    align-items: center;

    justify-content: flex-start;

  }

  .event-buttons {
    float: right;
    margin-left: 20px;

    ion-button {
      --background-activated: var(--ion-color-secondary);
      font-size: 10px;
      --background: rgb(254, 232, 230);

      ion-icon {
        font-size: 20px;

        color: var(--ion-color-tertiary);
      }
    }

  }

}


ion-card-header {
  .img-container {
    width: 100%; /* Establece el ancho deseado para el contenedor de la imagen */
    height: 200px; /* Establece la altura deseada para el contenedor de la imagen */
    overflow: hidden; /* Oculta cualquier contenido que exceda las dimensiones del contenedor */
  }
  
  .event-image {
    width: 100%; /* Establece un ancho del 100% para que la imagen ocupe todo el espacio disponible dentro del contenedor */
    height: 100%; /* Establece una altura del 100% para que la imagen ocupe todo el espacio disponible dentro del contenedor */
    object-fit: cover; /* Hace que la imagen se ajuste dentro del contenedor sin deformarse, recortando si es necesario */
  }
}