<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title >{{ currentMonth }} {{currentYear}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-button (click)="showAllEvents()">Todos</ion-button> -->
  <div class="days">
    <ion-row class="ion-margin-top">
      <ion-label class="ion-margin-start heading">Días</ion-label>
      <swiper-container [slidesPerView]="4">
        <swiper-slide *ngFor="let day of days">


          <ion-card class="day-card"
          [ngClass]="{'selected': selectedDay === day }"
          (click)="selectedDay === day ? deselectDate() : selectDate(day)">
          <!-- <ion-card class="day-card"
             [ngClass]="{'selected': selectedDay === day }"
            (click)="selectDate(day)">  -->

            <span>{{ getWeekDayName(day) }}</span>


            <ion-item lines="none">
              <ion-label> {{day}}</ion-label>
            </ion-item>
          </ion-card>

        </swiper-slide>
      </swiper-container>
    </ion-row>
  </div>
  <ion-label class="ion-margin-start heading">Eventos</ion-label>
  <div class="event-list" *ngFor="let event of filteredEvents">
    <div class="date">{{event.date | date:'dd MMM, yyyy HH:mm' }}</div>  
    <ion-card class="event-card">
      <ion-list>
        
        <div class="event" (click)="goToInfo(event._id)" > 
            <img [src]="event.picture" />
          <ion-item lines="none">
            <ion-label>{{ event.name }}</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-card>
  </div>
</ion-content>