
<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title class="profile-title"> Información del Evento</ion-title>
    <ion-buttons class="close-button"  slot="start">
      <ion-icon  class="close-icon" name="close-outline" (click)="navigateBack()"></ion-icon>
    </ion-buttons>
    
    <ion-buttons>
      <ion-button (click)="addFavorite()"> 
        <ion-icon slot="icon-only" [name]="isFavorite ? 'heart' : 'heart-outline'" 
       ></ion-icon>
      </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="event">
 <div class="imagen">
    <img src="../../../../assets/events/event1.svg" />
    
 </div>
  <div class="section">

  <div class="name">
    <h1>{{event.name}}</h1>
    <p>{{event.category}}</p>
  </div>
   
  <div class="date-participants">
 
    <p>{{event.date | date:'dd MMM, yyyy HH:mm' }}</p>
    <p>{{participants}}/{{event.numPlazas}} Plazas</p>
    <p (click)="getParticipants()">Miembros</p>

  </div>

  <div class="description">
    <p>Descripción</p>
    <p>{{event.description}}</p>

  </div>
  <div class="location">
    <p>Ubicación</p>
    <google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
></google-map>
  </div>

  <div class="footer">
    <div class="price">
      <p>Precio</p>

      <p>{{event.price}}<span class="euro">€</span><span class="person">/persona</span></p>

    </div>
    <div class="join">
      <ion-button (click)="joinOrLeaveEvent(eventId)" class="join-button">
        {{ isJoined ? 'Desapuntarse' : 'Apuntarse' }}
      </ion-button>
    </div>

  </div>

  </div>
  

</ion-content>