ion-header {
  position: absolute;

  ion-toolbar {
    padding-left: 14px;
    padding-right: 14px;

    ion-title {
      color: var(--ion-color-lettering);
      font-size: 18px;
    }
  }
}

.heading{
  font-size: 20px;
  font-weight: bold;
  color: var(--ion-color-lettering);
  padding-left:10px;
}
.categories{
  ion-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px 2px #f09a78; /* Centrar horizontalmente */
    
    ion-card-content {
      
      ion-avatar {
        width: 70px;
        height: 70px;
        img {
          width: 100px; /* Tamaño deseado para la imagen */
        }
      }
      
      p {
        font-size: 20px;
        font-weight: bold; /* Texto en negrita */
        color: var(--ion-color-tertiary);
      }
    }
  }
  
}

.selected-category {
  border: 2px solid rgb(61, 8, 110); 
  box-shadow: 0px 4px 12px 2px #19073e; 

}


.default-left-padding {
  padding-left: 26px;
}

.default-top-padding {
  padding-top: 26px !important;
}

ion-content {

  // --background: #fcf1f1;

  .banner {
    position: relative;
    font-weight: bold;

    img {
      width: 100%;
      height: 30vh;
    }

    .caption {
      position: absolute;
      width: 100%;
      bottom: 16vh;
      font-size: 26px;
      color: var(--ion-color-lettering);
      padding-left: 26px;
      padding-right: 26px;
    }

    .search {
      position: absolute;

      ion-icon {
        transform: rotateZ(90deg);
      }
    }
  }

  ion-searchbar.bar {
    --color: var(--ion-color-lettering);
    --background: transparent;
    --icon-color: var(--ion-color-primary);
    --border-radius: 10px;
    ----placeholder-font-weight: bold;
    
  }
 

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 26px 16px 26px;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: var(--ion-color-lettering);
    }

    p {
      margin: 0;
      font-size: 14px;
      color: var(--ion-color-primary);
    }
  }

  .event-cards {

    ion-card {
      width: 100%;
      height: auto;
      background: #fefefe;
      border-radius: 12px;
      box-shadow: 0px 4px 12px 2px rgba(28, 12, 61, 0.674);
      margin-left: 0;
      margin-top: 0;

      ion-card-header {
        .img-container {
          width: 100%; 
          height: 200px; 
          overflow: hidden; 
        }
        
        .event-image {
          width: 100%; 
          height: 100%; 
          object-fit: cover; 
        }
      }

      ion-card-content {
        padding: 20px;

        // .user{
        //   margin-right:-3px;
        //   display: flex;
        //   h2{
        //     font-size: 16px;
        //   }

        //   align-items: center;
        // }

        .date {
          ion-card-subtitle {
            color: var(--ion-color-lettering);
            font-size: 15px;
          }

        }



        .name {

          padding-left: 10px;

          .eventname {

            color: rgb(30, 13, 61);
            margin-bottom: 5px;
          }
        }

      

        .members {
          position: relative;
          bottom: 10px;
          margin-right: 10px;
          right: 0;
          display: flex;
          align-items: center;
    
          justify-content: flex-end;
          p {
            padding-top: 5px;
            padding-left:5px;
              color: var(--ion-color-lettering);
              font-size: 15px;
          }
          ion-icon {
              font-size: 20px;
              color: var(--ion-color-tertiary);
          }
      }

        



      }

    }
  }
}

ion-select{
  --placeholder-color: var(--ion-color-secondary);
  --placeholder-opacity:1;
}

