<ion-header no-border>
  <ion-toolbar color="white" no-border>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../../../assets/pictures/banner.png" />


    <div class="caption ion-padding">
      Encuentra y únete<br>
      a los mejores eventos

    </div>
    <ion-item class="search" lines="none" class="ion-no-padding">
      <ion-searchbar class="bar"></ion-searchbar>
      <ion-button slot='end'>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-item>



  </div>
  <!-- ionic dialog modal -->
  <div class="categories">
    <ion-row class="ion-margin-top">
      <ion-label class="ion-margin-start heading">Categories</ion-label>
      <swiper-container class="ion-margin" [slidesPerView]="2" [spaceBetween]="15">
        <swiper-slide *ngFor="let category of categories">
    
          <ion-card>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{category?.name}}</ion-label>
            </ion-item>
          </ion-card>

      </swiper-slide>
      </swiper-container>
    </ion-row>
  </div>

  <div class="title">
    <h2>Eventos Recientes</h2>

    <p >See all</p>
  </div>

  <div class="event-slider">
    <swiper-container class="ion-margin" [slidesPerView]="2" [spaceBetween]="15">
      <swiper-slide *ngFor="let event of myEvents">
        <!-- <ng-template swiperSlide class="ion-margin" > -->
          <ion-col class="ion-text-left">
            <ion-card>
              <ion-card-header class="ion-no-padding">
                <img src="../../../../assets/events/event1.svg" />
              </ion-card-header>
  
              <ion-card-content>
                <p class="date">{{ event.date | date:'dd MMM, yyyy HH:mm' }}</p>
                <h2 class="eventname">{{ event.name }}</h2>
                <p class="location"><ion-icon name="location"></ion-icon>{{ event.location }}</p>
  
                <div class="additional-info">
                  <p class="plazas">{{event.numPlazas}} Plazas</p>
                </div>
               <div class="more-info">
                <p  (click)="selectEvent(event._id)">Ver más</p>
               </div>
               <ion-buttons>
                <ion-button (click)="addFavorites(event._id)"> 
                  <ion-icon slot="icon-only" [name]="event.favorite ? 'heart' : 'heart-outline'" 
                 ></ion-icon>
                </ion-button>
               </ion-buttons>
              
              </ion-card-content>
             
            </ion-card>
          </ion-col>
        <!-- </ng-template> -->
      </swiper-slide>
    </swiper-container>
    <!-- <swiper [config]="eventConfig" > -->
      
    <!-- </swiper>  -->
    </div>
 
  


</ion-content>