<ion-header no-border>
  <ion-toolbar color="white" no-border>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../../../assets/pictures/banner.png" />


    <div class="caption ion-padding">
      Encuentra y únete<br>
      a los mejores eventos

    </div>
    <ion-item class="search" lines="none" class="ion-no-padding">
      <ion-searchbar class="bar"></ion-searchbar>
      <ion-button slot='end'>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-item>



  </div>
  <!-- ionic dialog modal -->
  <div class="categories">
    <ion-row class="ion-margin-top">
      <ion-label class="ion-margin-start heading">Categories</ion-label>
      <swiper-container class="ion-margin" [slidesPerView]="2" [spaceBetween]="15">
        <swiper-slide *ngFor="let category of categories">

          <ion-card>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{category?.name}}</ion-label>
            </ion-item>
          </ion-card>

        </swiper-slide>
      </swiper-container>
    </ion-row>
  </div>

  <div class="title">
    <h2>Todos los Eventos </h2>

    <p>See all</p>
  </div>

  <div class="event-cards ion-margin">



    <ion-card *ngFor="let event of myEvents" >

      <ion-card-header class="ion-no-padding">
        <img src="../../../../assets/pictures/hokahe.png" />
      </ion-card-header>

      <ion-card-content>
        <div class="date">


          <ion-card-subtitle><strong>{{ event.date | date:'dd MMM, yyyy HH:mm'
              }}</strong></ion-card-subtitle>
        </div>

        <div class="name">
          <ion-card-title class="eventname" (click)="selectEvent(event._id)"><strong>{{ event.name }}</strong></ion-card-title>

        </div>

            <div class="members">
              <ion-icon name="person"></ion-icon>
              <p class="plazas"> <strong>{{event.plazas.length}}</strong>/{{event.numPlazas}}</p>
          </div>

      



      </ion-card-content>

    </ion-card>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- </ng-template> -->
    <!-- <swiper [config]="eventConfig" > -->

    <!-- </swiper>  -->
  </div>




</ion-content>