<ion-header class="ion-no-border">
  <ion-toolbar color="white" no-border>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../../../assets/pictures/banner.png" />


    <div class="caption ion-padding">
      Encuentra y únete<br>
      a los mejores eventos

    </div>
    <ion-item class="search" lines="none" class="ion-no-padding">
      <ion-searchbar class="bar"></ion-searchbar>
      <ion-button slot='end'>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-item>



  </div>
  <!-- ionic dialog modal -->
  <div class="categories">
    <ion-row class="ion-margin-top">
      <ion-label class="ion-margin-start heading">Categories</ion-label>
      <swiper [config]="categoryConfig" effect="fade">
        <ng-template swiperSlide *ngFor="let category of categories">
          <ion-card>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img [src]="category?.image" />
              </ion-thumbnail>
              <ion-label class="ion-text-wrap">{{category?.name}}</ion-label>
            </ion-item>
          </ion-card>
        </ng-template>
      </swiper>
    </ion-row>
  </div>

  <div class="title">
    <h2>Eventos Recientes</h2>

    <p (click)="searchAll()">See all</p>
  </div>

  <div class="event-slider">
    <swiper [config]="eventConfig" effect="fade" >
      <ng-template swiperSlide class="ion-margin" *ngFor="let event of myEvents">
        <ion-col class="ion-text-left">
          <ion-card >
            <ion-card-header class="ion-no-padding">
              <img src="../../../../assets/events/event1.svg" />
            </ion-card-header>

            <ion-card-content>
              <p class="date">{{ event.date | date:'dd MMM, yyyy HH:mm' }}</p>
              <h2 class="eventname">{{ event.name }}</h2>
              <p class="location"><ion-icon name="location"></ion-icon>{{ event.location }}</p>

              <div class="additional-info">
                <p class="plazas">{{event.numPlazas}} Plazas</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-template>
    </swiper> 
    </div>
 
  


</ion-content>