<!-- <app-swiper></app-swiper> -->
<ion-content class="slide-container">

  <div class="slide-container">
    <ion-row class="banners">
      <swiper [config]="bannerConfig">
        <ng-template swiperSlide *ngFor="let slide of slides">
          
            <ion-label>
             
              <img src="{{slide?.img_no}}"/>
              
            </ion-label>
        
        </ng-template>
      </swiper>
    </ion-row>
  </div>



  <ion-button class="start-button" expand="block" (click)="goToLogin()">Empecemos</ion-button>


    
  
  </ion-content>
  