<!-- <app-swiper></app-swiper> -->
<ion-content class="slide-container">

  <div class="slide-container">
    <ion-row class="banners">
      <swiper-container class="ion-margin-top" [slidesPerView]="1" [clickable]="true">
        <swiper-slide *ngFor="let slide of slides">
        
          
            <ion-label>
             
              <img src="{{slide?.img_no}}"/>
              <p>{{slide?.title}}</p>
              
            </ion-label>
      
      </swiper-slide>
      </swiper-container>
    </ion-row>
  </div>



  <ion-button class="start-button" expand="block" (click)="goToLogin()">Empecemos</ion-button>


    
  
  </ion-content>
  