<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="dismiss()">Cerrar</ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item *ngFor="let comment of comments">
      <ion-label>
        <h2>{{comment.name}}</h2>
        <p>{{comment.comment}}</p>
      </ion-label>
    </ion-item> -->
  </ion-list>

  <div class="text-area">
    <ion-item>
  
      <ion-textarea  (ionChange)="onCommentChange($event)" placeholder="Escribe tu comentario"  [(ngModel)]="comment" 
       maxlength="240"></ion-textarea>
      <ion-button  class="icon" [disabled]="disabledButton" (click)="addComments()">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
    </ion-item>
    
  </div>
  <div class="comments">
    <p> Comentarios</p>
    <ion-list>
      <ion-item *ngFor="let comment of comments">
        <p>{{ commentAuthors[comment.author] }}</p>
        <p>{{ comment.text }}</p>
      </ion-item>
    </ion-list>
  </div>



</ion-content>