ion-header {
    --background: #fef1ee;
  }
    ion-toolbar {
      --background: #fef1ee;
    }

    .delete-button{
        left:0;
          --background-activated: var(--ion-color-secondary);
          font-size: 10px;
          --background: rgb(254, 232, 230);
    
          ion-icon {
            font-size: 20px;
    
            color: var(--ion-color-tertiary);
          }
        }
 

.valuation{
    display:flex;
    align-items:center;

    ion-select{
        font-size:20px;
        color:black;
    }
    ion-icon{
        font-size:20px;

    }

}

.valuation-stars{
    display:flex;
    align-items:center;
    width: auto;
    height: auto;
}


.icon{
    ion-icon{
        font-size:25px;
    }
}

ion-avatar{
    margin-right: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
}


.user-info{
    display:flex;
    align-items:center;
    h2{
        font-weight: bold;
        font-size: 23px;
        color: var(--ion-color-tertiary);
    }
}


.result-stars{
    display:flex;
    align-items:center;
 
  margin-right:10px;
    p{
        margin-left:20px;
    }
}

.comment-info{
    margin-right:30px;
    justify-content: center;
}


.comments{
    
    h1{
        color: var(--ion-color-tertiary);
        margin-left:20px;
    }
}


.comment-text{
    margin-top:5px;
    font-size: 15px;
    color: var(--ion-color-lettering);
}

