<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="tertiary" (click)="dismiss()">Cerrar</ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="text-area">

    <ion-card>
      <ion-card-header>
        <div class="valuation">
          <ion-card-title color="tertiary">Valoración</ion-card-title>
          <div class="valuation-stars" *ngIf="!isValued">
          <ion-select [(ngModel)]="selectedValue" interface="popover" placeholder="Valora" (ionChange)="addStars()">
  
            <ion-select-option *ngFor="let item of selection" [value]="item.value">{{item.value}}</ion-select-option>
          </ion-select>
          <ion-icon color="primary" name="star" *ngFor="let _ of stars"></ion-icon>
        </div>
        </div>
      </ion-card-header>
      <ion-card-content>
       
        <ion-item>
  
          <ion-textarea  (ionChange)="onCommentChange($event)" placeholder="Escribe tu comentario"  [(ngModel)]="comment" 
           maxlength="240"></ion-textarea>
          <ion-button  class="icon" [disabled]="disabledButton" (click)="addValuation()">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-item>
        

      </ion-card-content>
    </ion-card>
   
  </div>
  <div class="comments">
    <h1><strong> Valoraciones </strong></h1>
    <ion-list>

      <ion-card class="comments" *ngFor="let valuation of valuations">
        <div class="user-info"  *ngIf="valuation.author && valuation.author.picture">
          <ion-avatar>
            <img src="{{ valuation.author?.picture }}">
          </ion-avatar>
          <h2 (click)="goToProfile(valuation.author._id)" >{{ valuation.author.user}}</h2>
        </div>
        <ion-card-content class="comment-info">
        <div class="result-stars">
          <ion-icon color="primary" name="star" *ngFor="let _ of generateStars(valuation.value)"></ion-icon>
          <p>{{ valuation.date | date:'dd MMM, yyyy HH:mm' }}</p>
        </div>
     
          
          
            <p class="comment-text">{{ valuation.text }}</p>
        
        </ion-card-content>
       <ion-button (click)="delete(valuation.author._id, valuation._id)" class="delete-button"  *ngIf="valuation.author._id===userId">
        <ion-icon name="trash-outline" slot="icon-only" /></ion-button>
   
      </ion-card>

    </ion-list>
  </div>



</ion-content>