<ion-menu contentId="main-content" type="overlay">

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item class="ion-margin-top" button="true" (click)="chooseOptions(item)" *ngFor="let item of options">
        <ion-label>{{ item?.label }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-item class="logout" (click)="logOut()">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar Sesión
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title>Panel de Administrador</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="panel">
      <h1>CONTROL DE DENUNCIAS</h1>
     
    </div>

    <div class="content">
    <h3>Denuncias</h3>
      <ion-list>
        <ion-item>
          <ion-label>Más de 50 denuncias totales</ion-label>
          <ion-badge slot="end" (click)="openReports('moreThan50')">{{filteredUsersMorenThan50.length}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Más de 30 denuncias totales</ion-label>
          <ion-badge slot="end"(click)="openReports('moreThan30')">{{filteredUsersMorenThan30.length}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Más de 10 denuncias totales</ion-label>
          <ion-badge slot="end" (click)="openReports('moreThan10')">{{filteredUsersMorenThan10.length}}</ion-badge>
        </ion-item>

      </ion-list>
    
    </div>
  </ion-content>
</div>