<!-- https://forum.ionicframework.com/t/ionic-5-awesome-tab-bar-with-curve/186579 -->

<ion-content>


  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="main">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="add-new">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="calendar">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="user-page">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>

