
  <ion-header class="ion-no-padding">
    <img src="../../../../assets/events/event1.svg" />
  </ion-header>

  <ion-content>
    <!-- <p class="date">{{ event.date | date:'dd MMM, yyyy HH:mm' }}</p> -->
    <h2 class="eventname">{{ event.name }}</h2>
    <p class="location"><ion-icon name="location"></ion-icon>{{ event.location }}</p>
    <p class="description">{{ event.description }}</p>
    <p class="price">{{ event.price }}€</p>

    <div class="additional-info">
      <p class="plazas">{{event.numPlazas}} Plazas</p>
    </div>
  </ion-content>

