

p{
    margin:10px;
    color:var(--ion-color-lettering);
}

ion-item{
margin-right:10px;
}

.update{
    margin-top:30px;
    --box-shadow: none;
    --border-radius: 60px;
}

.validator{
    
    color:red;
}

#eye-icon{
    padding:0;
    margin:0;
}