<ion-header *ngIf="profileUser" no-border>
  <ion-toolbar>
    <ion-title>
      {{profileUser.user}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon class="config-icon" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="profileUser">

  <!-- USER PROFILE -->
  <div class="profile">
    <div class="profile-pic">
      <ion-avatar class="avatar">
        <img src={{profileUser.picture}} alt="user_avatar">
      </ion-avatar>
    </div>

    <div class="profile-stars">

      <p class="stars"><strong><span>0/5</span> </strong>Calificación</p>
      <p class="event-count"><strong><span>{{eventCount}}</span></strong> Eventos</p>

    </div>

    <div class="profile-bio">
      <h1>{{profileUser.name}}</h1>
      <p>{{profileUser.bio}}</p>
    </div>
  </div>
  <!-- SEGMENTO DE EVENTOS -->
  <div class="event-section">

    <ion-segment value="my-event">
      <ion-segment-button value="my-event">


        <ion-icon name="albums-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
    <!-- FIN DEL SEGMENTO DE MEGUSTA Y MIS EVENTOS -->

    <!--EVENTOS -->



    <ion-card *ngFor="let event of createdEvents">

      <ion-card-header class="ion-no-padding" (click)="selectEvent(event._id)">
        <img src="{{event.picture}}" />
      </ion-card-header>

      <ion-card-content>
        <div class="date">


          <ion-card-subtitle><strong>{{ event.date | date:'dd MMM, yyyy HH:mm'
              }}</strong></ion-card-subtitle>
        </div>

        <div class="name">
          <ion-card-title class="eventname" (click)="selectEvent(event._id)"><strong>{{ event.name
              }}</strong></ion-card-title>

        </div>

        <div class="buttons">
          <div class="members">
            <ion-icon name="person"></ion-icon>
            <p class="plazas"> <strong>{{event.plazas.length}}</strong>/{{event.numPlazas}}</p>
          </div>

        </div>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>