<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="tertiary" (click)="dismiss()">Cerrar</ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="participant-list" *ngFor="let participant of participants">
      <ion-avatar class="avatar" (click)="openUser(participant._id)">
        <img src="{{participant.picture}}">
      </ion-avatar>
    
      <div class="info">
        <h2 class="user">{{participant.user}}</h2>
        <h3 class="name">{{participant.name}}</h3>
      </div>
    </div>
  </ion-list>
</ion-content>