

ion-item{
    padding-right:20px;
}

.date-item{
    padding-top:30px;
}

.check-icon{
    font-size: 30px;
    padding-right:15px;
}

ion-select {
    padding-top:30px;
    --placeholder-opacity: 1;
    width: 100%;
    justify-content: center;
  }

