
<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title class="profile-title">Editar Evento</ion-title>
    <ion-buttons class="close-button" (click)="navigateback()" slot="start">
      <ion-icon  class="close-icon" name="close-outline" ></ion-icon>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
     <!-- SUBIR FOTOS -->
     <div class="img-container" (click)="openFileInput()">
      <input type="file" id="fileInput" style="display: none" (change)="onImageChange($event)" accept="image/*">
      
      <div class="preview-image" *ngIf="imagePreview">
        <img [src]="imagePreview" />
      </div>
    
      <div class="edit-icon">
        <ion-icon name="create-outline"></ion-icon>
      </div>
    </div>
 
    
    <form [formGroup]="form">
      
   <!-- NOMBRE DEL EVENTO -->
  <ion-item>
    <ion-label position="floating">Nombre del evento</ion-label>
    <ion-input formControlName="name" maxLength="40" type="text"></ion-input>
  </ion-item>

  <!-- CONTROL DE ERRORES -->
 <app-error-message class="validator" [field]="form.controls.name" 
 [valid]="true" message="Formato errorneo"></app-error-message>
 <app-error-message class="validator" [field]="form.controls.name" [empty]="true"
 message="Campo Obligatorio"></app-error-message>
       

  <!-- DESCRIPCIÓN DEL EVENTO -->
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea maxLength="300" formControlName="description"></ion-textarea>
  </ion-item>

  <!-- CONTROL DE ERRORES -->
  <app-error-message class="validator" [field]="form.controls.description" [empty]="true"
            message="Campo Obligatorio"></app-error-message>
        <app-error-message class="validator" [field]="form.controls.description" [valid]="true" message="Formato errorneo"></app-error-message>
       

    <!-- NÚMERO DE PLAZAS -->
    <ion-item>
      <ion-label position="floating">Número de plazas</ion-label>
      <ion-input formControlName="numPlazas" value="0" type="number" maxLength="3"></ion-input>
    </ion-item>

<!-- CONTROL DE ERRORES -->
<app-error-message class="validator" [field]="form.controls.numPlazas" [empty]="true"
message="Campo Obligatorio"></app-error-message>
<app-error-message class="validator" [field]="form.controls.numPlazas" [valid]="true"
message="Escriba un número correcto"></app-error-message>



    <!-- PRECIO DEL EVENTO -->
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="price" type="number" mmaxLength="3"></ion-input>
    </ion-item>

    <!-- CONTROL DE ERRORES -->

<app-error-message class="validator" [field]="form.controls.price" [valid]="true"
message="Escriba un precio correcto"></app-error-message>
<app-error-message class="validator" [field]="form.controls.price" [empty]="true"
message="Campo Obligatorio (Introduzca 0 si es gratis )"></app-error-message>

<ion-item class="date-item">
  <ion-label>Fecha y Hora</ion-label>
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime locale="es-ES" formControlName="date" [(ngModel)]="date" id="datetime"
        displayFormat="DD-MM-YYYY HH:mm"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-item>

    <ion-item>
      <ion-select placeholder="Elige una Categoría" formControlName="category">
        <ion-select-option *ngFor="let category of categories" value={{category.value}}>{{category.label}}</ion-select-option>
      </ion-select>
    </ion-item>
    
   
  </form>
  



    <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input [clearInput]="true" 
      (ionChange)="onLocationChange($event)"
      [(ngModel)]="autocomplete.input" 
      (ionInput)="UpdateSearchResults()" 
      (ionClear)="ClearAutocomplete()"></ion-input>
  </ion-item>



  <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
          {{ item.description }}
      </ion-item>
  </ion-list>
    
  </ion-list>
  <br>
<ion-button expand="block" [disabled]="disableButton" color="tertiary" (click)="saveChanges()" class="ion-padding confirm-button"> Confirmar </ion-button>
<br>
<br>

</ion-content>