ion-label{
    --color:var(--ion-color-primary);
}

ion-item{
    padding-right:20px;
}

.date-item{
    padding-top:30px;
}

.close-icon{
    font-size: 30px;
    padding-right:15px;
}

// ion-select {
//     padding-top:30px;
//     --placeholder-opacity: 1;
//     width: 100%;
//     justify-content: center;
//   }

  .validator{
  
    margin:0px;
    color:red;
   
   }

   ion-content{
    --background-color: #fefefe;
    ion-item ion-label {
        color: var(--ion-color-secondary) !important;
      
      }
    
}

ion-select{
    --placeholder-color: var(--ion-color-secondary);
    --placeholder-opacity:1;
}

.img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 90%;
    overflow: hidden;
    padding: 20px;
    margin-left:20px;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 4px;
  }
  
  .edit-icon ion-icon {
    font-size: 38px;
    color: var(--ion-color-tertiary);
  }  
  .preview-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .confim-button{
    margin-bottom:20px;
  }