<ion-content>
    <ion-item>
        <ion-label position="floating">Ubicación</ion-label>
        <ion-input [clearInput]="true" 
        [(ngModel)]="autocomplete.input" 
        (ionInput)="UpdateSearchResults()" 
        (ionClear)="ClearAutocomplete()"></ion-input>
    </ion-item>

    <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
            {{ item.description }}
        </ion-item>
    </ion-list>

</ion-content>