#map {
    height: 100%;
    width:100%;

 
    
  }

  .infowindow-content {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    /* Otros estilos CSS que desees aplicar */
  }