

ion-toolbar {
  --background: #fef1ee;


  // background-size: cover;
 
}

ion-content {

  --background: #fef1ee;
  

  .login-section {
    height: 64vh;
    width: 100%;
    max-width: 500px;
    background: #fefefe;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-right-radius: 46px;
    border-top-left-radius: 46px;

    .heading {
      margin-top: 20px;

      h1 {
        font-size: 1.6rem;
        font-weight: bolder;
        color: var(--ion-color-lettering);
      }

    }

  }

  .login-form {
    margin-bottom: 7rem;
  }

  #form {


    ion-item {
  
      --border-width: 0;
      --min-height: 20px;
      margin-right: 2rem;

      ion-label{
        font-family: 'MyFont', sans-serif;
        color: var(--ion-color-secondary);
      }
 
    }

    
    .validator {
      margin:0px;
      color:red;
    }




  }

  .submit {
  
    --box-shadow: none;
    --border-radius: 60px;
    --background: linear-gradient(90deg,
        rgb(81, 54, 125) 0%,
        rgb(61, 32, 115) 100%);
    height: 80px;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-transform: initial;
  }

  .forgot {

    margin: 10px;
    text-align: center;
    font-size: 1rem;
    color: var(--ion-color-lettering);
    
    text-decoration: none;
  }


  ion-toggle {
    zoom: 0.8;

    span {
      margin-bottom: 1rem;
      color: var(--ion-color-lettering);
    }
  }

}

// .eye{
// font-size: 10px;
// text-align: left;
// direction: rtl;
// padding-left:19rem;

// }