<ion-header class="ion-no-border">
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/presentation"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="lettering" [routerLink]="['/signup']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  

  <div class="login-section">
    <div class="heading ion-padding">
      <h1>¡Bienvenido de nuevo!</h1>
    </div>

    <div class="login-form">
      <form id="form" [formGroup]="form">

        <!-- ITEM USER O EMAIL-->
        <ion-item>
          <ion-label color="secondary" position="floating">Usuario o Email</ion-label>
          <ion-input formControlName="usermail" maxlength="20" type="text"></ion-input>
        </ion-item>

        <!-- CONTROL DE ERRORES  -->
        <app-error-message class="validator" [field]="form.controls.usermail" [empty]="true"
          message="Campo Obligatorio"></app-error-message>


        <!-- ITEM CONTRASEÑA -->
        <ion-item>
          <ion-label color="secondary" position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" [type]="passwordType">
          </ion-input>

          <!-- Boton de ojo -->
          <!-- <ion-button class="eye"  (click)="passwordOn()"> 
        <ion-icon id="eye-icon" [name]="passwordIcon"></ion-icon>
      </ion-button>  -->
        </ion-item>

          <!-- CONTROL DE ERRORES  -->
          <app-error-message class="validator" [field]="form.controls.password" [empty]="true"
            message="Campo Obligatorio"></app-error-message>

      
      </form>

      <ion-button class="submit ion-padding" expand="block" (click)="onLogin()">Iniciar</ion-button>
<!-- 
      <ion-list lines="none">
        <ion-item>
          <span>Recordarme siempre</span>
          <ion-toggle [(ngModel)]="toggleValue" slot="end" ></ion-toggle>
        </ion-item>
      </ion-list> -->

      <p [routerLink]="['/forgot-pass']" class="forgot ion-padding">¿Olvidaste la contraseña?</p>
    </div>
  </div>

</ion-content>