
<ion-header>
    <ion-toolbar>
      <ion-title>
        Nuevo Evento
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- https://www.youtube.com/watch?v=-Lv647Sqq3I 
    https://www.youtube.com/watch?v=-rrDc7jb4fw-->
    <!-- <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Subir foto</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre del evento</ion-label>
      <ion-input formControlName="eventname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Localización</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Número de plazas</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
   
      <ion-button  class="submit ion-margin-top" size="full" (click)="onLogin()">Iniciar</ion-button>
     
    </form> -->

  </ion-content>

 