<ion-header class="ion-no-border">
  <ion-toolbar color="white"  no-border>
    <ion-title>
      Nuevo Evento
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../../../assets/pictures/background2.png" />

   
    <div class="caption ion-padding">
      Empieza a crear nuevos eventos <br>
      y actividades para la comunidad
      
    </div>
    
    <div class="create-event">
      <img src="../../../../assets/persons/person_idea.svg" alt="persona_bombilla">
      
      <ion-button expand="block" (click)="openEventModal()">Crear Evento</ion-button>
  </div>
      
    
  </div>


 
</ion-content>
  
  
 