ion-header {
    position: absolute;
  
    ion-toolbar {
      padding-left: 14px;
      padding-right: 14px;
  
      ion-title {
        color: var(--ion-color-lettering);
        font-size: 18px;
      }
    }
  }
  
  ion-content {

    --background: #fefefe;

    .banner {
      img {
        width: 100%;
        height: 30vh;
      }
    }
      .caption {
      position:fixed;
        font-weight: bold;
        width: 100%;
        bottom:66vh;
        font-size: 26px;
        color: var(--ion-color-lettering);

      }
  
     
    ion-button{
        --background:var(--ion-color-tertiary);
        --border-radius:66px;
    }        
      
    
  
  
  
   
    
  
  }